
compiler_compat/  
condabin/ 
conda-meta/  
envs/     
include  
lib/  
man/  
pkgs/ 
sbin/ 
share/
shell/
ssl/
x86_64-conda_cos7-linux-gnu/
x86_64-conda-linux-gnu/
LICENSE.txt 

bin/
!bin/create-conda-env.sh
etc/
!etc/*.template
var/
