# rust

export CARGO_HOME=__CARGO_HOME__

export RUSTUP_HOME=__RUSTUP_HOME__

# ensure add directories to PATH once
# if ! [[ "$PATH" =~ "$CARGO_HOME/bin" ]]; then
#     export PATH="$CARGO_HOME/bin:$PATH"
# fi

if [ -f "${CARGO_HOME}/env" ]; then
    source "${CARGO_HOME}/env"
fi
